.main-body {
    padding: 20px;
    margin-top: 30px;   
}

.header {
    /* background-color: cornflowerblue;
    padding: 20px;
    border-radius: 20px; */
    width: 100%;
    height: 300px;
    border-radius: 10PX;
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.25);
    animation: BgAnimation 10s linear infinite;
}

@keyframes BgAnimation {
    0% { background-image: url('asset/img/HEADER-CV.png');}
    30% {background-image: url('asset/img/HEADER-PORTOFOLIO.png');}
    60% {background-image: url('asset/img/HEADER-NAME.png');}
    100% {background-image: url('asset/img/HEADER-NAME.png');}
}

.container-biodata {
    display: flex;
    /* justify-content: center; */
    border-radius: 20px;
    margin-top: 20px;
    
}

/* .other-info {
    width: 30%;
} */

.header-img {
    display: flex;
    width: 100%;
    height: 400px;
    
}

.deskripsi {
    text-align: justify;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    /* background-color: blanchedalmond; */
    /* align-items: center; */
    margin-bottom: 100px;
    text-align: justify;
}

.inner-contact-me {
    display: flex;
    /* text-decoration: none; */
    margin: 20px;
    
}

.contact {
    margin-left: 20px;
}

.biodata-personal {
    width: 30%;
    justify-items: center;
    border: none;
    padding: 10px;
    background-color: wheat;
    border-radius: 10px;
    margin-right: 5px;
    
}

#profil{
    /* align-items: center; */
    /* display: flex; */
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    border-bottom: cornflowerblue;
    border-style: solid;
}

.nama-personal {
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.biodata-personal2 {
    width: 70%;
    border: 2px solid;
    border-style: dotted;
    border-left: 5px solid gray;
    border-bottom: 5px solid gray;
    border-radius: 20px;
    padding: 7px;
}



.header-profil {
    border-bottom: 5px solid rgb(131, 119, 119);
    border-radius: 5px;
    color: cornflowerblue;
    text-align: justify;
}

.nama-perusahaan {
    text-transform: uppercase;
    font-weight: 700;
}

.warna  {
    color: cornflowerblue;
    font-size: larger;
    font-weight: 700;
}

.slide {
    padding: 20px;
    height: 50%;
    width: 100%;
}

.fortopolio {
    border: 10px solid cornflowerblue;
    margin-top: 20px;
    justify-items: center;
}

/* footer */
.wrapper .button {
    /* display: inline-block; */
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
width: 200px;
}

.wrapper .button .icon {
display: inline-block;
height: 60px;
width: 60px;
text-align: center;
border-radius: 50px;
box-sizing: border-box;
line-height: 60px;
transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
background: #12d33c;
}

.wrapper .button:nth-child(2):hover .icon {
background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon {
background: #4267B2;
}

.wrapper .button:nth-child(4):hover .icon {
background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
background: #ff0000;
}

.wrapper .button .icon i {
font-size: 25px;
line-height: 60px;
transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
color: #fff;
}

.wrapper .button span {
font-size: 20px;
font-weight: 500;
line-height: 60px;
margin-left: 10px;
transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
color: #12d33c;
}

.wrapper .button:nth-child(2) span {
color: #E1306C;
}

.wrapper .button:nth-child(3) span {
color: #4267B2;
}

.wrapper .button:nth-child(4) span {
color: #333;
}

.wrapper .button:nth-child(5) span {
color: #ff0000;
}

.button2 {
    font-style: normal;
    text-decoration: none;
    /* color: #12d33c; */
    color: black;
}